body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}


/* CSS from the leaflet-choropleth documentation */
.legend {
  color: #555;
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend li {
  /* display: inline-block; */
  /* clear: both; */
  float: left;
  width: 30px;
  height: 22px;
}
.legend .min {
  /* display: inline; */
  /* float: right; */
  clear: both;
  text-align: right;
  width: 50px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 5px;
}

/* .legend .max {
  display: inline-block;
  clear: both;
  width: 30px;
  height: 22px;
} */